
<div class="flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div class="fixed w-full z-999 flex flex-col shadow bg-white dark:bg-accent-800 dark:border">

        <!-- Cover image -->
        <div>
            <img
                class="h-40 lg:h-40 object-cover"
                src="assets/images/cover.jpg"
                alt="Cover image">

            <!-- Actions -->
            <div class="fixed z-49 flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2 bg-white dark:bg-accent-800 dark:border-gray-50 pl-2 pr-2"
                style="right: 15px; top: 15px;border-radius: 1rem;">
                <fuse-fullscreen></fuse-fullscreen>
                <settings></settings>
                <user matTooltip="Profil"></user>
            </div>
        </div>

        <!-- User info -->
        <div class="flex flex-col flex-0 lg:flex-row items-center max-w-5xl w-full mx-auto px-8 lg:h-18">

            <!-- Avatar -->
            <div class="-mt-26 lg:-mt-22 rounded-full">
                <div class="flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card">
                    <div
                        class="flex items-center justify-center w-full h-full rounded overflow-hidden uppercase text-8xl font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                        *ngIf="user.pseudo">
                        {{ user.pseudo.charAt(0) }}
                    </div>
                </div>
            </div>

            <!-- Alert Delete Challenge-->
            <div *ngIf="showAlertDeleteChallenge" class="flex flex-col flex-auto absolute z-999 left-0  p-6 w-full">
                <div class="w-1/3"></div>
                <div class="w-1/3">
                    <fuse-alert
                        [appearance]="'soft'"
                        [showIcon]="true"
                        [dismissible]="true"
                        [dismissed]="false"
                        [type]="alertDeleteChallenge.type">
                        {{ alertDeleteChallenge.message }}
                    </fuse-alert>
                </div>
            </div>

            <!-- Details -->
            <div class="flex flex-col items-center lg:items-start mt-4 lg:mt-0 lg:ml-2">
                 <div class="text-lg font-bold leading-none">{{ user.pseudo }}</div>
            </div>

            <!-- Separator -->
            <div class="hidden lg:flex h-8 mx-8 border-l-2"></div>

            <!-- Stats -->
            <div class="flex items-center mt-2 lg:mt-0 space-x-6">
                <div class="flex flex-col items-center">
                    <span class="font-bold">200k</span>
                    <span class="text-sm font-medium text-secondary">Défis crées</span>
                </div>
                <div class="flex flex-col items-center">
                    <span class="font-bold">1.2k</span>
                    <span class="text-sm font-medium text-secondary">Défis réalisés</span>
                </div>
            </div>

            <div class="flex lg:mt-0 sm:mt-3 items-center ml-auto absolute" style="right: 25px;">
                <button
                    class="mt-4 mb-2"
                    mat-flat-button
                    [color]="'primary'"
                    (click)="switchOnCreateMode()">
                    <mat-icon
                        class="icon-size-5 mr-2"
                        [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                    Créer un défi
                </button>
            </div>

            <!-- Menu -->
            <div class="flex items-center mt-6 pt-2 mb-4 lg:m-0 lg:ml-auto space-x-6 lg:border-t-0 sm:border-t">

                <button
                    (click)="getAll(); switchOffCreateMode()"
                    class="px-3 mr-1 -ml-2 sm:ml-0"
                    mat-button>
                    <span  *ngIf="selectedChallengeMode === 'all'" class="flex sm:items-center font-medium cursor-pointer">
                        <mat-icon
                            class="icon-size-5 mr-3 leading-6 text-primary"
                            [svgIcon]="'heroicons_solid:arrow-narrow-up'"></mat-icon>
                        Derniers
                    </span>
                    <span  *ngIf="selectedChallengeMode !== 'all'" class="flex sm:items-center text-secondary cursor-pointer">
                        <mat-icon
                            class="icon-size-5 mr-3 leading-6"
                            [svgIcon]="'heroicons_solid:arrow-narrow-up'"></mat-icon>
                        Derniers
                    </span>
                </button>
                <button
                    (click)="getOldest(); switchOffCreateMode()"
                    class="px-3 mr-1 -ml-2 sm:ml-0"
                    mat-button>
                    <span  *ngIf="selectedChallengeMode === 'oldest'" class="flex sm:items-center font-medium cursor-pointer">
                        <mat-icon
                            class="icon-size-5 mr-3 leading-6 text-primary"
                            [svgIcon]="'heroicons_solid:arrow-narrow-down'"></mat-icon>
                        Les plus vieux
                    </span>
                    <span  *ngIf="selectedChallengeMode !== 'oldest'" class="flex sm:items-center text-secondary cursor-pointer">
                        <mat-icon
                            class="icon-size-5 mr-3 leading-6"
                            [svgIcon]="'heroicons_solid:arrow-narrow-down'"></mat-icon>
                        Les plus vieux
                    </span>
                </button>
                <button
                    (click)="getAllRealised(); switchOffCreateMode()"
                    class="px-3 mr-1 -ml-2 sm:ml-0"
                    mat-button>
                    <span *ngIf="selectedChallengeMode === 'realised'" class="flex sm:items-center font-medium cursor-pointer">
                        <mat-icon
                            class="icon-size-5 mr-3 leading-6 text-primary"
                            [svgIcon]="'iconsmind:trophy'"></mat-icon>
                        Réalisés
                    </span>
                    <span *ngIf="selectedChallengeMode !== 'realised'" class="flex sm:items-center text-secondary cursor-pointer">
                        <mat-icon
                            class="icon-size-5 mr-3 leading-6"
                            [svgIcon]="'iconsmind:trophy'"></mat-icon>
                        Réalisés
                    </span>
                </button>
                <button
                    (click)="getAllByLikeDesc(); switchOffCreateMode()"
                    class="px-3 mr-1 -ml-2 sm:ml-0"
                    mat-button>
                    <span *ngIf="selectedChallengeMode === 'bestLike'" class="flex sm:items-center font-medium cursor-pointer">
                        <mat-icon
                            class="icon-size-5 mr-3 leading-6 text-primary"
                            [svgIcon]="'heroicons_solid:thumb-up'"></mat-icon>
                        Les plus Like
                    </span>
                    <span *ngIf="selectedChallengeMode !== 'bestLike'" class="flex sm:items-center text-secondary cursor-pointer">
                        <mat-icon
                            class="icon-size-5 mr-3 leading-6"
                            [svgIcon]="'heroicons_solid:thumb-up'"></mat-icon>
                        Les plus Like
                    </span>
                </button>
                <button
                    (click)="getAllByLikeAsc(); switchOffCreateMode()"
                    class="px-3 mr-1 -ml-2 sm:ml-0"
                    mat-button>
                    <span *ngIf="selectedChallengeMode === 'minusLike'" class="flex sm:items-center font-medium cursor-pointer">
                        <mat-icon
                            class="icon-size-5 mr-3 leading-6 text-primary"
                            [svgIcon]="'heroicons_solid:thumb-down'"></mat-icon>
                        Les moins Like
                    </span>
                    <span *ngIf="selectedChallengeMode !== 'minusLike'" class="flex sm:items-center text-secondary cursor-pointer">
                        <mat-icon
                            class="icon-size-5 mr-3 leading-6"
                            [svgIcon]="'heroicons_solid:thumb-down'"></mat-icon>
                        Les moins Like
                    </span>
                </button>

            </div>

        </div>

    </div>

    <div class="h-80 lg:h-52"></div>

    <!-- Main -->
    <div class="flex flex-auto justify-center w-full max-w-5xl mx-auto p-6 sm:p-8 " >

        <!-- Column Profile -->
        <div class="hidden lg:flex flex-col items-start mr-8">

            <!-- Profile -->
            <fuse-card class="flex flex-col max-w-80 w-full mt-6 p-8 shadow rounded-2xl bg-white dark:bg-opacity-5 dark:border"
                       #expandableCard02="fuseCard">
                <div class="text-2xl font-semibold leading-tight">Profile</div>
                <div class="mt-4">
                    {{ user && user.id ? user.id : '' }}
                    <br><br>
                    J'adore les défis en tout genre.
                </div>
                <hr class="w-full border-t my-6">
                <div class="flex flex-col">
                    <div class="flex items-center">
                        <mat-icon
                            class="icon-size-5 mr-3"
                            [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                        <span class="leading-none">Marseille, FR</span>
                    </div>
                    <div class="flex items-center mt-4">
                        <mat-icon
                            class="icon-size-5 mr-3"
                            [svgIcon]="'heroicons_solid:briefcase'"></mat-icon>
                        <span class="leading-none">ESIMED Corp. Etudiant</span>
                    </div>
                    <div class="flex items-center mt-4">
                        <mat-icon
                            class="icon-size-5 mr-3"
                            [svgIcon]="'heroicons_solid:cake'"></mat-icon>
                        <span class="leading-none">25 Avril 1987</span>
                    </div>
                </div>
                <button
                    class="px-6 mt-8"
                    mat-flat-button
                    [color]="'primary'"
                    [routerLink]="['./']">
                    Voir le profile
                </button>
            </fuse-card>

        </div>


        <!-- Create Challenge -->
        <fuse-card *ngIf="createMode" class="flex flex-col max-w-140 w-full mt-6 p-6 sm:p-8 pb-6 shadow rounded-2xl bg-white dark:bg-opacity-5 dark:border">
            <div class="text-xl font-semibold border-b pb-2">Créer un défi</div>
            <div class="flex flex-col sm:flex-row items-start mt-8">
                <div class="flex items-center mb-6 sm:mb-0">
                    <div class="w-12 min-w-12 h-12 rounded-full mr-4">
                        <div
                            class="flex items-center justify-center w-full h-full rounded-full text-2xl overflow-hidden uppercase font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                            *ngIf="user.pseudo">
                            {{ user.pseudo.charAt(0) }}
                        </div>
                    </div>
                </div>
                <form [formGroup]="challengeForm" #challengeNgForm="ngForm" class="w-full">
                    <!-- Alert -->
                    <fuse-alert
                        class="mb-4"
                        *ngIf="showAlert"
                        [appearance]="'soft'"
                        [showIcon]="true"
                        [dismissible]="true"
                        [dismissed]="false"
                        [type]="alert.type">
                        {{ alert.message }}
                    </fuse-alert>
                    <div class="fuse-mat-no-subscript w-full" >
                        <mat-form-field class="w-full" >
                            <mat-label>Nom:</mat-label>
                            <input id="name" matInput [formControlName]="'name'" [placeholder]="'Nom du défi'">
                            <mat-error *ngIf="challengeForm.get('name').hasError('required')">
                                Nom requis.
                            </mat-error>
                            <mat-error *ngIf="challengeForm.get('name').hasError('minlength')">
                                Minimum 2 caratères.
                            </mat-error>
                            <mat-error *ngIf="challengeForm.get('name').hasError('maxlength')">
                                Maximum 63 caratères.
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                        <mat-label>Description:</mat-label>
                        <textarea
                            matInput id="description" [formControlName]="'description'"
                            [placeholder]="'Ecrivez le détail de votre défi'"
                            [rows]="3"
                            matTextareaAutosize></textarea>
                        <mat-error *ngIf="challengeForm.get('description').hasError('required')">
                            Description requise.
                        </mat-error>
                        <mat-error *ngIf="challengeForm.get('description').hasError('minlength')">
                            Minimum 4 caratères.
                        </mat-error>
                        <mat-error *ngIf="challengeForm.get('description').hasError('maxlength')">
                            Maximum 139 caratères.
                        </mat-error>
                    </mat-form-field>
                </form>

            </div>
            <div class="flex items-center mt-6 sm:mt-8 -mx-3" style="display: none">
                <button
                    class="px-3 mr-1"
                    mat-button
                    [routerLink]="['./']">
                    <mat-icon
                        class="icon-size-5 mr-2"
                        [svgIcon]="'heroicons_solid:photograph'"></mat-icon>
                    <span>Photo / Video</span>
                </button>
                <button
                    class="absolute" style="right: 2rem;"
                    mat-flat-button
                    [color]="'primary'"
                    (click)="createChallenge()">
                    <mat-icon
                        class="icon-size-5 mr-2"
                        [svgIcon]="'heroicons_solid:check'"></mat-icon>
                    Créer le défi
                </button>
            </div>
        </fuse-card>
        <div *ngIf="createMode" class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6 absolute" style="right: 45px;">
            <button
                mat-icon-button
                [matTooltip]="'Fermer'"
                (click)="switchOffCreateMode()"
                [routerLink]="['../']">
                <mat-icon
                    class="text-accent-600 dark:text-white"
                    [svgIcon]="'heroicons_outline:x'"></mat-icon>
            </button>
        </div>

        <!-- Column Challenges-->
        <div *ngIf="!createMode" class="flex flex-col items-start">

            <!-- Challenges -->
            <div  *ngFor="let challenge of challenges;">

                <fuse-card *ngIf="challenge.cache === false || (challenge.cache === true && user.id === challenge.createur.id)" class="flex flex-col max-w-140 w-full mt-8  shadow rounded-2xl bg-white dark:bg-opacity-5 dark:border" #expandableCard02="fuseCard">
                    <div class="flex items-center mx-6 sm:mx-8 mt-4 mb-1  border-b pb-2">
                        <div  class="w-10 h-10 rounded-full mr-4">
                            <div
                                class="flex items-center justify-center w-full h-full rounded-full overflow-hidden uppercase font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                                *ngIf="challenge && challenge.createur && challenge.createur.pseudo">
                                {{ challenge.createur.pseudo.charAt(0) }}
                            </div>
                        </div>

                        <div class="flex flex-col">
                            <span class="font-semibold leading-none">
                                {{ challenge && challenge.createur && challenge.createur.pseudo ? challenge.createur.pseudo : '' }}
                            </span>
                            <span *ngIf="challenge && challenge.dateDeCreation" class="text-sm text-secondary leading-none mt-1">
                                {{ challenge.dateDeCreation | date: 'dd/MM/yyyy HH:mm' }}
                            </span>
                        </div>
                        <button *ngIf="challenge && challenge.commentaires && challenge.commentaires.length === 0 && challenge.createur.id === user.id "
                            class="ml-auto -mr-4"
                            mat-icon-button
                            [matMenuTriggerFor]="postCardMenu08">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                        </button>
                        <mat-menu #postCardMenu08="matMenu" >
                            <button mat-menu-item
                                    *ngIf="challenge && challenge.commentaires && challenge.commentaires.length === 0 && challenge.createur.id === user.id && challenge.cache === false"
                            (click)="hideChallenge(challenge)">
                                <span class="flex items-center">
                                    <mat-icon
                                        class="icon-size-5 mr-3"
                                        [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                                    <span>Cacher le défi</span>
                                </span>
                            </button>

                            <button mat-menu-item
                                    *ngIf="challenge && challenge.commentaires && challenge.commentaires.length === 0 && challenge.createur.id === user.id && challenge.cache === true"
                            (click)="unHideChallenge(challenge)">
                                <span class="flex items-center">
                                    <mat-icon
                                        class="icon-size-5 mr-3"
                                        [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                                    <span>Rendre visible le défi</span>
                                </span>
                            </button>

                            <button mat-menu-item *ngIf="challenge && challenge.nbLike === 0 && challenge.commentaires && challenge.commentaires.length === 0 && challenge.createur.id === user.id "
                                    (click)="deleteChallenge(challenge)">
                                <span class="flex items-center">
                                    <mat-icon
                                        class="icon-size-5 mr-3 text-red-600"
                                        [svgIcon]="'heroicons_solid:minus-circle'"></mat-icon>
                                    <span>Supprimer le défi</span>
                                </span>
                            </button>
                        </mat-menu>
                    </div>
                    <div class="m-6 sm:mx-8">
                        <ng-container *ngIf="challenge.nom">
                            <div class="w-full text-center">
                                <mat-icon class="icon-size-7" style="font-size: 2rem !important;" svgIcon="iconsmind:trophy"></mat-icon>
                                <div class="ml-4 mt-2 text-2xl font-medium leading-6">{{ challenge && challenge.nom ? challenge.nom : '' }}</div>
                            </div>
                        </ng-container>

                        <p class="mt-6">
                            {{ challenge && challenge.description ? challenge.description : '' }}
                        </p>
                    </div>
                    <div class="flex items-center mx-3 sm:mx-5">
                        <button *ngIf="challenge && challenge.like === true"
                                (click)="unlike(challenge)"
                                class="px-3 mr-1"
                                mat-button
                                [routerLink]="['./']">
                            <mat-icon
                                class="icon-size-5 text-red-500 mr-2"
                                [svgIcon]="'heroicons_solid:heart'"></mat-icon>
                            <span>Je n'aime plus</span>
                        </button>
                        <button *ngIf="challenge && challenge.like === false"
                                (click)="like(challenge)"
                                class="px-3 mr-1"
                                mat-button
                                [routerLink]="['./']">
                            <mat-icon
                                class="icon-size-5 mr-2"
                                [svgIcon]="'heroicons_solid:heart'"></mat-icon>
                            <span>J'aime</span>
                        </button>
                        <button
                            (click)="expandableCard02.expanded = !expandableCard02.expanded ; switchSelectedChallenge(challenge)"
                            class="px-3 mr-1"
                            mat-button
                            [routerLink]="['./']">
                            <mat-icon
                                class="icon-size-5 mr-2"
                                [svgIcon]="'heroicons_solid:chat-alt'"></mat-icon>
                            <span>Commenter</span>
                        </button>


                        <button *ngIf="challenge && challenge.realise === true"
                                (click)="unrealisedChallenge(challenge)"
                                class="px-3 mr-1"
                                mat-button
                                [routerLink]="['./']">
                            <mat-icon
                                class="icon-size-5 text-primary mr-2"
                                [svgIcon]="'iconsmind:trophy_2'"></mat-icon>
                            <span>Réalisé</span>
                        </button>
                        <button *ngIf="challenge && challenge.realise === false"
                                (click)="realisedChallenge(challenge)"
                                class="px-3 mr-1"
                                mat-button
                                [routerLink]="['./']">
                            <mat-icon
                                class="icon-size-5 mr-2"
                                [svgIcon]="'heroicons_solid:x'"></mat-icon>
                            <span>Pas encore réalisé</span>
                        </button>


                    </div>
                    <hr class="border-b mx-6 sm:mx-8 mt-4 mb-6">
                    <div class="flex flex-col sm:flex-row sm:items-center mx-6 sm:mx-8 mb-4 sm:mb-6">
                        <div class="flex items-center">
                            <img
                                class="w-6 h-6 m-0.5 rounded-full text-card ring-2 ring-white"
                                src="assets/images/avatars/female-02.jpg"
                                alt="Card cover image">
                            <img
                                class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-white"
                                src="assets/images/avatars/female-04.jpg"
                                alt="Card cover image">
                            <img
                                class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-white"
                                src="assets/images/avatars/male-09.jpg"
                                alt="Card cover image">
                            <img
                                class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-white"
                                src="assets/images/avatars/male-07.jpg"
                                alt="Card cover image">
                            <div class="text-md tracking-tight ml-3">
                                <span class="font-medium">
                                    {{ challenge && challenge.nbLike ? challenge.nbLike :'0 ' }}
                                </span>
                                personnes ont aimé ce défi
                            </div>
                        </div>
                        <div class="hidden sm:flex flex-auto"></div>
                        <div class="flex items-center mt-4 sm:mt-0">
                            <button
                                class="px-3 mr-1 -ml-2 sm:ml-0"
                                mat-button>
                                <span class="font-medium mr-1">
                                    {{ challenge && challenge.nbRealise ? challenge.nbRealise : '0 ' }}
                                </span>
                                fois réalisé
                            </button>

                            <button *ngIf="challenge && challenge.commentaires && challenge.commentaires.length !== 0; else NoCommentsBlock"
                                class="px-3 sm:-mr-4"
                                mat-button
                                (click)="expandableCard02.expanded = !expandableCard02.expanded ; switchSelectedChallenge(challenge)">
                                <span>{{ challenge.commentaires.length }} </span>
                                <span class="ml-1"> Commentaires</span>
                                <mat-icon
                                    class="icon-size-5 transition-transform ease-in-out duration-150 rotate-0"
                                    [ngClass]="{'rotate-180': expandableCard02.expanded}"
                                    [svgIcon]="'heroicons_solid:chevron-down'"></mat-icon>
                            </button>
                            <ng-template #NoCommentsBlock>
                                <button
                                        class="px-3 sm:-mr-3"
                                        mat-button>
                                    Pas de commentaires
                                </button>
                            </ng-template>
                        </div>
                    </div>

                    <ng-container fuseCardExpansion>
                        <hr class="border-b m-0">
                        <div class="flex flex-col mx-4 sm:mx-8 mt-6 mb-3">
                            <div class="flex items-start">
                                <div class="w-12 min-w-12 h-12 rounded-full mr-4">
                                    <div
                                        class="flex items-center justify-center w-full h-full rounded-full text-2xl overflow-hidden uppercase font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                                        *ngIf="user.pseudo">
                                        {{ user.pseudo.charAt(0) }}
                                    </div>
                                </div>
                                <form [formGroup]="commentForm" #commentNgForm="ngForm" class="w-full">
                                    <!-- Alert -->
                                    <fuse-alert
                                        class="mb-4"
                                        *ngIf="showAlertComment"
                                        [appearance]="'soft'"
                                        [showIcon]="true"
                                        [dismissible]="true"
                                        [dismissed]="false"
                                        [type]="alertComment.type">
                                        {{ alertComment.message }}
                                    </fuse-alert>
                                    <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                                        <textarea
                                            matInput  [formControlName]="'texte'"
                                            [placeholder]="'Ecrivez un commentaire...'"
                                            [rows]="3"
                                            matTextareaAutosize></textarea>
                                        <mat-error *ngIf="commentForm.get('texte').hasError('required')">
                                            Description requise.
                                        </mat-error>
                                        <mat-error *ngIf="commentForm.get('texte').hasError('minlength')">
                                            Minimum 4 caratères.
                                        </mat-error>
                                        <mat-error *ngIf="commentForm.get('texte').hasError('maxlength')">
                                            Maximum 139 caratères.
                                        </mat-error>
                                    </mat-form-field>
                                </form>
                            </div>
                            <div class="flex items-center mt-3 ml-auto -mr-3">
                                <button
                                    class="mt-4 mb-2"
                                    mat-flat-button
                                    [color]="'primary'"
                                    (click)="createComment()">
                                    <mat-icon
                                        class="icon-size-5 mr-2"
                                        [svgIcon]="'heroicons_solid:check'"></mat-icon>
                                    Envoyer le commentaire
                                </button>
                            </div>
                        </div>
                        <hr class="border-b mx-4 sm:mx-8 my-0">


                        <!-- Comments -->
                        <div class="max-h-120 overflow-y-auto">
                            <div class="relative flex flex-col mx-4 sm:mx-8 my-6">

                                <div  *ngFor="let commentaire of challenge.commentaires;" class="flex items-start mt-8 ml-12">
                                    <div class="w-8 h-8 rounded-full mr-4">
                                        <div
                                            class="flex items-center justify-center w-full h-full rounded-full overflow-hidden uppercase font-bold leading-none bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200"
                                            *ngIf="commentaire && commentaire.createur && commentaire.createur.pseudo">
                                            {{ commentaire.createur.pseudo.charAt(0) }}
                                        </div>
                                    </div>
                                    <div class="flex flex-col mt-0.5">
                                        <span>
                                            <b>{{ commentaire && commentaire.createur && commentaire.createur.pseudo ? commentaire.createur.pseudo : ''  }}</b>
                                            {{ commentaire && commentaire.texte ? commentaire.texte : ''  }}
                                        </span>
                                        <div class="flex items-center text-sm text-secondary mt-2">
                                            <span class="mr-2">&bull;</span>
                                            <span *ngIf="commentaire && commentaire.dateDeCreation">{{ commentaire.dateDeCreation | date: 'dd/MM/yyyy HH:mm' }}</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </ng-container>

                </fuse-card>

            </div>
        </div>

    </div>

</div>
